/* --- general styles --- */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  /* Sets up the Base 10 stuff 100%/1.6 */
  height: 100%;
}

body{
  color: #333;
  font-family: 'rubikRegular', $font-stack-helvetica;
  @include font-size(1.8);
  font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5{
  margin: 0;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: inherit;
}

figure{
  margin: 0;
}

ul{
  li{
    list-style: none;
  }
}

.list{
  li{
    position: relative;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.025em;
    padding-left: 31px;
    margin: 14px 0;
    color: #605d6e;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      display: inline-block;
      width: 9px;
      height: 9px;
      background-color: #f08700;
      border-radius: 50%;
    }
  }
}

input,
textarea{
  font-size: 22px;
  line-height: 48px;
  font-family: 'rubikRegular', $font-stack-helvetica;
  background-color: #fff;
  box-shadow: 0px 1px 30px 0px rgba(255, 238, 50, 0),inset 0px 3px 1px 0px rgba(10, 1, 56, 0.3), inset 0px 0px 0px 3px transparent;
  border-radius: 30px;
  padding: 6px 26px;
  border: 0px solid transparent;
  color: #0a0138;
  outline: none;
  transition: box-shadow .3s ease-in-out;
  &:hover,
  &:active,
  &:focus{
    box-shadow: 0px 1px 30px 0px rgba(255, 238, 50, 0.7),inset 0px 3px 1px 0px rgba(240, 135, 0, 0.3), inset 0px 0px 0px 3px #f08700;
  }
}

label{
  font-size: 22px;
  line-height: 48px;
  font-family: 'rubikMedium', $font-stack-helvetica;
}

.wrap{
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px;
}

.text_link{
  color: #f08700;
  border-bottom: 1px solid #f08700;
  display: inline-block;
  transition: border-bottom-color .3s ease-in-out;
  &:hover,
  &:active,
  &:focus{
    border-bottom-color: transparent;
  }
}

.btn_block{
  position: relative;
  text-align: center;
}

.btn{
  display: inline-block;
  font-size: 22px;
  color: #333;
  font-family: 'rubikBold', $font-stack-helvetica;
  text-align: center;
  background-color: rgb(252,191,0);
  box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
  width: 274px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: box-shadow .3s ease-in-out;
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( rgb(252,191,0) 0%, rgb(246,139,31) 100%);
    z-index: -1;
    transition: transform .3s ease-in-out;
  }
  &:hover,
  &:focus,
  &:active{
    box-shadow: 0 1px 10px 0 rgba(255,238,50,.7), inset 0 3px 1px 0 rgba(255,255,255,.3);
    &:after{
      transform: translateY(100%);
    }
  }
  &.dark{
    background-color: rgb(68,68,68);
    background-image: linear-gradient( rgb(34,34,34) 0%, rgb(68,68,68) 100%);
    box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
    color: #fff;
    &:hover,
    &:focus,
    &:active{
      box-shadow: 0 1px 10px 0 rgba(255,238,50,.7), inset 0 3px 1px 0 rgba(255,255,255,.3);
    }
    &:after{
      background-image: linear-gradient( rgb(68,68,68) 0%, rgb(34,34,34) 100%);
    }
  }
}

.title{
  font-size: 50px;
  padding-bottom: 90px;
  color: #222;
  font-family: 'rubikMedium', $font-stack-helvetica;
}

.subtitle{
  font-size: 29px;
  line-height: 35px;
  letter-spacing: 0.025em;
  color: #222;
  font-family: 'rubikMedium', $font-stack-helvetica;
}

p{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.025em;
}

.link{
  color: #f08700;
  font-size: 18px;
  line-height: 26px;
  font-family: 'rubikMedium', $font-stack-helvetica;
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    width: calc(100% + 30px);
    bottom: 0;
    left: -30px;
    background-image: linear-gradient( 90deg, rgba(240,135,0,1) 0%, rgba(240,135,0,1) calc(100% - 30px), rgba(240,135,0,0) 100%);
    transition: left .3s ease-in-out;
  }
  &:hover:after{
    left: 0;
  }
}

.p_bottom50{
  padding-bottom: 50px!important;
}

/* header */

header{
  min-height: 82px;
  padding: 25px 0;
  .left_col{
    float: left;
  }
  .right_col{
    float: right;
  }
  .link{
    display: inline-block;
    vertical-align: middle;
    margin-right: 38px;
    &.light{
      color: #fbb307;
      &:after{
        background-image: linear-gradient( 90deg, rgba(251,179,7,1) 0%, rgba(251,179,7,1) calc(100% - 30px), rgba(251,179,7,0) 100%);
      }
    }
  }
  .phone_link{
    line-height: 26px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    margin-right: 18px;
  }
}

.burger_menu{
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background: linear-gradient( rgb(252,191,0) 0%, rgb(246,139,31) 100%), #fbb307;
  box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 0;
  padding: 8px 4px;
  margin-right: 18px;
  transition: background .3s ease-in-out, box-shadow .3s ease-in-out;
  span{
    display: inline-block;
    height: 1px;
    width: 15px;
    background-color: #4c322f;
    margin: 2px 0;
  }
  &:hover,
  &:active,
  &:focus{
    background: #fbb307;
    box-shadow: 0px 1px 10px 0px rgba(255, 238, 50, 0.7),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
  }
}

.icon_phone{
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background: linear-gradient( rgb(252,191,0) 0%, rgb(246,139,31) 100%), #fbb307;
  box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  padding: 7px;
  transition: background .3s ease-in-out, box-shadow .3s ease-in-out;
  &:hover,
  &:active,
  &:focus{
    background: #fbb307;
    box-shadow: 0px 1px 10px 0px rgba(255, 238, 50, 0.7),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
  }
  img{
    width: 100%;
  }
}

.logo{
  text-align: center;
  a{
    display: block;
    margin: 0 auto;
    max-width: 120px;
  }
  .img_logo{
    max-width: 120px;
    height: 42px;
  }
}

/* footer */

.footer_top{
  background-color: #222;
  position: relative;
  font-size: 0;
  padding: 54px 0;
  
  .wave{
    bottom: auto;
    top: -20px;
    left: 0;
    right: 0;
  }
  .btn_block{
    &:after,
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: calc(50% - 137px);
      left: 10px;
      bottom: 30px;
      background-image: linear-gradient(90deg,#f08700 0,rgba(240,135,0,0) 100%);
    }
    &:before{
      background-image: linear-gradient(-90deg,#f08700 0,rgba(240,135,0,0) 100%);
      left: auto;
      right: 10px;
    }
  }
  .footer_item{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    padding: 0 20px 14px 0;
  }
  .link{
    margin-bottom: 14px;
  }
  li{
    margin-bottom: 10px;
  }
  img{
    margin-right: 16px;
  }
}

.footer_copyright{
  background-color: #2a2a2a;
  color: #fff;
  border-top: 1px solid #616066;
  border-bottom: 1px solid #616066;
  padding: 42px 0 14px;
  font-size: 14px;
  line-height: 26px;
  .copy{
    float: left;
    padding: 1px 0;
  }
  .skyweb{
    float: right;
    padding: 1px 0;
  }
  .footer_logo{
    .img_logo{
      display: inline-block;
      width: 86px;
      height: 32px;
      margin: 0 auto;
    }
  }
  .link{
    font-size: 14px;
    line-height: 17px;
    top: 4px;
    &:after{
      height: 1px;
    }
  }
}

/* breadcrumbs */

@for $i from 1 through 10 {
  .breadcrumbs li:nth-child(#{$i}) {
    $index: 10-$i;  
    z-index: $index;
  }
}

.breadcrumbs_block{
  padding: 62px 0 0;
}

.breadcrumbs{
  font-size: 0;
  li{
    display: inline-block;
    font-size: 16px;
    line-height: 31px;
    background-color: #fcbf00;
//    background-image: linear-gradient( 0deg, rgb(246,139,31) 0%, rgb(252,191,0) 100%);
    box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 31px;
    margin-right: -12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient( rgb(252,191,0) 0%, rgb(246,139,31) 100%);
      z-index: -1;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      transition: transform .3s ease-in-out;
    }
    &:hover,
    &:focus,
    &:active{
      &:after{
        transform: translateY(100%);
      }
    }
    &.last{
      background-image: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 30px!important;
      &:after{
        display: none;
      }
    }
    &:not(:first-child){
      padding-left: 8px;
    }
  }
  a{
    padding: 0 22px;
    display: inline-block;
  }
}

/* pagination */

.pagination{
  font-size: 0;
  text-align: center;
  padding: 20px 0 56px;
  li{
    display: inline-block;
    font-size: 17px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 70px;
    height: 51px;
    text-align: center;
    transition: background-color .3s ease-in-out;
    &.active > a{
      background-image: linear-gradient( rgb(68,68,68) 0%, rgb(51,51,51) 100%);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
      color: #fff;
      position: relative;
      top: 0;
      line-height: 55px;
    }
    &:first-child{
      border-left: 1px solid #ccc;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    &:last-child{
      border-right: 1px solid #ccc;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
    a{
      display: inline-block;
      width: 100%;
      line-height: 49px;
      position: relative;
    }
    &:hover,
    &:active,
    &:focus{
      background-color: #eee;
    }
  }
  &.lamp{
    text-align: left;
    padding: 44px 0 26px;
    li{
      width: 90px;
      height: 121px;
      vertical-align: middle;
      position: relative;
      a{
        line-height: normal;
        padding: 19px 18px;
      }
      span{
        font-size: 14px;
        line-height: 17px;
      }
      img{
        margin: 0 auto;
      }
      img.active{
        position: absolute;
        top: 19px;
        left: 18px;
        opacity: 0;
        
      }
      &.active{
        a{
          top: -3px;
          padding-top: 21px;
          padding-ottom: 21px;
          .active{
            opacity: 1;
          }
        }
      }
    }
  }
  &.power{
    text-align: left;
    padding-top: 0;
    .hover_tooltip{
      position: absolute;
      top: 61px;
      width: auto;
      left: 0;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.025em;
      text-align: left;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 10px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      white-space: nowrap;
      padding: 15px 18px;
      opacity: 0;
      visibility: hidden;
      color: #333;
      transition: opacity .3s ease-in-out;
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: -8px;
        left: 28px;
        border-bottom: 8px solid rgb(204, 204, 204);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 0;
      }
      &:after{
        border-bottom: 8px solid #fff;
        top: -7px;
      }
    }
    a:hover .hover_tooltip{
      opacity: 1;
      visibility: visible;
    }
  }
}

/* main content */

.wave{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  img{
    width: 100%;
    max-height: 43px;
    vertical-align: bottom;
  }
}

.main_banner{
  font-family: 'rubikRegular', $font-stack-helvetica;
  background-image: linear-gradient( 130deg, rgb(252,191,0) 0%, rgb(246,139,31) 100%);
  position: relative;
  padding: 100px 0;
  font-size: 0;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  .wave{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .left_banner,
  .right_banner{
    width: 50%;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
  }
  .right_banner{
    padding: 0 0 0 20px;
    text-align: center;
  }
  .title{
    color: #fff;
  }
  .slogan{
    .subtitle{
      padding-bottom: 52px;
      color: #fff;
    }
    .slick-dots{
      //      font-size: 0;
      li{
        //        width: 25%;
        margin: 0 15.6%;
        border: 2px solid #fff;
        border-radius: 50%;
        opacity: 0.6;
        width: 10px;
        height: 10px;
        transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
        &.slick-active,
        &:hover,
        &:active,
        &:focus{
          background-color: #fff;
          opacity: 1;
        }
      }
      li:first-child{
        position: absolute;
        left: 0;
        margin: 0;
        margin-right: 20%;
      }
      li:last-child{
        position: absolute;
        right: 0;
        margin: 0;
      }
      button{
        padding: 0;
        width: 100%;
        height: 100%;
      }
      li button:before{
        display: none;
      }
    }
  }
}

.advantages_block{
  padding: 88px 0 43px; 
  font-size: 0;
}

.advantages{
  margin: 46px -20px 0;
}

.advantages_item{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 46px 20px;
  .caption{
    background: linear-gradient( 90deg, rgba(240,135,0,.2) 0%, rgba(255,255,255,.2) 100%);
    width: 210px;
    height: 100px;
    margin-left: 50px;
    p{
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      padding-left: 10px;
      font-family: 'rubikMedium', $font-stack-helvetica;
      letter-spacing: 0.05em;
      color: #222;
      &:after{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    } 
  }
  .img_block{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: #fff;
    border: 2px solid #f18c0a;
    border-radius: 50%;
    padding: 16px;
    float: left;
    color: #222;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    font-family: 'rubikMedium', $font-stack-helvetica;
    img{
      width: 100%;
    }
  }
  .text{
    font-size: 22px;
    line-height: 26px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    padding: 40px 0 6px;
  }
  p{
    color: #444;
  }
}

.testing_block{
  background: url('../img/bg/bg_test.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  padding: 83px 0 78px;
  .subtitle{
    color: #fff;
    text-align: center;
    padding-bottom: 46px;
  }
  .img_block{
    width: 50%;
    float: left;
    margin: 0 20px 0 0;
    img{
      width: 100%;
    }
  }
  .text_block{
    color: #fff;
  }
  .text{
    font-size: 22px;
    line-height: 26px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    padding-bottom: 40px;
  }
  .testing_item{
    padding-bottom: 52px;
    @include clearfix;
    &.f_right{
      .img_block{
        float: right;
        margin: 0 0 0 20px;
      }
    }
  }
}

.lamp_slider_block{
  padding: 100px 0 90px;
}

.lamp_slider{
  padding: 30px 10px 40px 0;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 9px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
  }
  .slick-prev{
    height: 50px;
    width: 60px;
    z-index: 1;
    left: 0;
    background-color: #222;
    box-shadow: inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: background-color .3s ease-in-out;
    &:before{
      content: '';
      display: inline-block;
      width: 15px;
      height: 22px;
      background: url('../img/svg/left.svg') center no-repeat;
      opacity: 1;
    }
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      border-top: 5px solid #945817;
      border-right: 5px solid #945817;
      border-left: 5px solid transparent;
      border-bottom: 5px solid transparent;
      bottom: -10px;
      left: 0;
    }
  }
  .slick-next{
    height: 50px;
    width: 60px;
    z-index: 1;
    right: 0;
    background-color: #222;
    box-shadow: inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background-color .3s ease-in-out;
    &:before{
      content: '';
      display: inline-block;
      width: 15px;
      height: 22px;
      background: url('../img/svg/right.svg') center no-repeat;
      opacity: 1;
    }
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      border-top: 5px solid #945817;
      border-right: 5px solid transparent;
      border-left: 5px solid #945817;
      border-bottom: 5px solid transparent;
      bottom: -10px;
      right: 0;
    }
  }
  .slick-arrow:hover{
    background-color: #444;
  }
}

.lamp_slider_item{
  width: 260px;
  padding: 60px 10px;
  transition: margin .3s ease-in-out;
  .item_inner{
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient( 130deg, rgb(252,191,0) 0%, rgb(246,139,31) 100%);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
    transition: transform .3s ease-in-out;
  }
  .img_block{
    padding: 36px 20px 48px;
    position: relative;
    .wave{
      bottom: -1px;
			height: 22px;
      img{
        position: relative;
		position: absolute;
        bottom: 0;
        left: 0;
      }
      .dark{
		position: relative;
      }
    }
    img{
      margin: 0 auto;
    }
  }
  .descr{
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 15px 28px;
    
  }
  .caption{
    color: #f08700;
    font-size: 18.17px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    background-image: linear-gradient( 90deg, rgba(240,135,0,1) 0%, rgba(240,135,0,0) 100%);
    position: relative;
    z-index: 0;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 16px;
    &:after{
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: 1px;
      background-color: #fff;
      z-index: -1;
    }
  }
  p{
    font-size: 11.56px; 
    color: #605d6e;
  }
  &:hover{
    margin: 0 25px;
    .item_inner{
      transform: scale(1.21);
    } 
  }  
}
 
.lamp_slider_block{
  .btn_block{
    position: relative;
    overflow: hidden;
    &:after,
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: calc(50% - 137px);
      left: 10px;
      bottom: 30px;
      background-image: linear-gradient(90deg,#f08700 0,rgba(240,135,0,0) 100%);
    }
    &:before{
      background-image: linear-gradient(-90deg,#f08700 0,rgba(240,135,0,0) 100%);
      left: auto;
      right: 10px;
    }
  }
}

.calc_block {
  background: url('../img/bg/bg_calc.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 90px 0;
  z-index: 0;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-50deg,#fcbf00 0,#f68b1f 100%);
    z-index: -1;
    opacity: .8;
  }
  p{
    color: #444;
    margin: 38px 0 48px;
  }
  .btn_block{
    position: relative;
    overflow: hidden;
    &:after,
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: calc(50% - 137px);
      left: 10px;
      bottom: 30px;
      background-image: linear-gradient(90deg,#fff 0,rgba(255,255,255,0) 100%);
    }
    &:before{
      background-image: linear-gradient(-90deg,#fff 0,rgba(255,255,255,0) 100%);
      left: auto;
      right: 10px;
    }
  }
}

.details_block{
  position: relative;
  background: url('../img/bg/bg_macbook.jpg') center no-repeat;
  background-size: cover;
  padding: 90px 0;
  text-align: center;
  color: #fff;
  .btn_block{
    &:after,
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: calc(50% - 137px);
      left: 10px;
      bottom: 30px;
      background-image: linear-gradient(90deg,#fff 0,rgba(255,255,255,0) 100%);
    }
    &:before{
      background-image: linear-gradient(-90deg,#fff 0,rgba(255,255,255,0) 100%);
      left: auto;
      right: 10px;
    }
  }
  .subtitle{
    color: #fff;
  }
  p{
    margin: 42px 0 48px;
  }
  .main_form{
    margin: 0 -20px;
    font-size: 0;
  }
  .field{
    padding: 4px 20px 39px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    input{
      width: 412px;
      margin-left: -40px;
    }
    label{
      text-align: left;
      display: inline-block;
      width: calc(100% - 372px);
      padding: 6px 40px 6px 0;
      background-image: linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);

    }
  }
}

.row{
  font-size: 0;
  margin: 0 -20px;
  .col{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 20px;
  }
}

.info_block{
  color: #605d6e;
  padding: 100px 0 70px;
  .text{
    font-size: 22px;
    line-height: 26px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    margin: 40px 0 32px 0;
		color: #222;
  }
  p{
    margin: 24px 0;
  }
}

.map_block{
  text-align: center;
  input{
    border-radius: 0;
    box-shadow: none;
  }
  .subtitle{
    padding-bottom: 44px;
  }
}

.heading{
  background-image: linear-gradient( 130deg, rgb(252,191,0) 0%, rgb(246,139,31) 100%);
  position: relative;
  padding: 86px 0 78px;
  .title{
    line-height: 60px;
    padding: 0;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.contacts_block{
  overflow: hidden;
}
.contacts_item{
  width: 50%;
  float: left;
  padding-right: 20px;
  font-size: 22px;
  line-height: 26px;
  font-family: 'rubikMedium', $font-stack-helvetica;
  color: #0a0138;
  padding-bottom: 26px;
  li{
    margin: 12px 0;
  }
  img{
    margin-right: 30px;
    position: relative;
    top: 4px;
  }
  .subtitle{
    color: #0a0138;
    padding: 42px 0 28px;
  }
  &.w100{
    width: 100%;
  }
}

.about_block{
  padding: 40px 0 34px;
}

.advantages_block.about{
  padding: 30px 0 0;
}

.mark{
  .img_block{
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background-color: #a4bdf6;
  }
  .caption{
    height: 16px;
    margin-left: 8px;
    background: linear-gradient(90deg,rgba(164,184,246,.2) 0,rgba(164,184,246,0) 100%);
  }
}

.img_width{
  width: 100%;
  margin: 44px 0 4px;
}

.articles_block{
  margin: 38px -9px 26px;
  text-align: center;
  font-size: 0;
}

.articles_item {
  padding: 14px 9px;
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  .item_inner{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35), inset 0px 1px 0px 0px rgba(80, 17, 17, 0.3);
  }
  .img_block{
    width: 100%;
    height: 248px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
    & > img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    .wave{
      height: 26px;
      img{
        position: absolute;
        left: 0;
        bottom: -2px;
      }
      .dark{
        position: relative;
        bottom: 0;
      }
    }
  }
  .descr{
    padding: 22px 30px 24px;
    text-align: left;
  }
  .caption{
    color: #f08700;
    font-size: 22px;
    line-height: 26px;
    font-family: 'rubikMedium', $font-stack-helvetica;
    position: relative;
    height: 80px;
    display: table;
    width: 100%;
    span{
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 4px;
    }
    &:after{
      content: '';
      position: absolute;
      display: inline-block;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(90deg,#f08700 0,#f08700 calc(100% - 30px),rgba(240,135,0,0) 100%);
    }
  }
  time{
    color: #666;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;
    font-family: 'rubikMedium', $font-stack-helvetica;
    padding: 28px 0 0;
    display: inline-block;
  }
  p{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;
  }
}

.article_block{
  overflow: hidden;
  .img_block{
    width: 50%;
    margin: 4px 40px 16px 0;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    line-height: 0;
    img{
      width: 100%;
    }
  }
  .subtitle{
    padding-bottom: 16px;
  }
}

.nav_block{
    font-size: 0;
    overflow: hidden;
  padding: 12px 0;
    .btn{
      box-shadow: inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
      font-size: 16px;
      line-height: 30px;
      height: 30px;
      font-family: 'rubikRegular', $font-stack-helvetica;
      width: 50%;
    }
    .prev{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .next{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

.catalog_block{
  margin: 0 -20px 44px -20px;
  font-size: 0;
  .lamp_slider_item{
    padding: 14px 20px;
    width: 25%;
    display: inline-block;
    &:hover{
      margin: 0;
      .item_inner{
        transform: none;
      }
    }
  }
  .descr{
    padding-top: 50px;
  }
  .caption{
    font-size: 22px;
    margin-bottom: 0;
  }
  p{
    font-size: 14px;
    line-height: 17px;
    margin: 22px 0;
  }
  .img_block{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 72px;
    .wave img{
      bottom: -2px;
      &.dark{
        bottom: 0;
      }
    }
  }
}

.features_block{
  font-size: 0;
  margin: 10px -20px 50px;
  .item{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 20px;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.025em;
    .key{
      font-family: 'rubikMedium', $font-stack-helvetica;
      display: inline-block;
      width: 50%;
      padding-right: 20px;
    }
    li{
      padding: 7px 0;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(90deg, rgba(227,226,233,0) 0%, #e3e2e9 30px, #e3e2e9 calc(100% - 30px),rgba(227,226,233,0) 100%);
      }
      &:first-child:before{
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(90deg, rgba(227,226,233,0) 0%, #e3e2e9 30px, #e3e2e9 calc(100% - 30px),rgba(227,226,233,0) 100%);
      }
    }
  }
}

/* zoom on product page */

.zoomContainer{
  z-index: 2;
}

#gal1{
  float: left;
  width: 82px;
  margin-right: 30px;
  a{
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 6px;
    &.active{
      border-color: #7e7e7e;
    }
  }
}

.product_card{
  font-size: 0;
  .img_block{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 20px;
    & > #img_01,
    .zoomContainer{
      width: calc(100% - 112px)!important;
    }
  }
  .main_descr{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-left: 20px;
    .text{
      
    }
  }
  
}

/* custom tumbler */

.tumbler{
  position: relative;
  padding-bottom: 10px;
  .checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
  }
  .checkbox + label{
    cursor: pointer;
    color: #333;
    font-size: 16px;
    line-height: 50px;
    font-family: 'rubikRegular', $font-stack-helvetica;
    display: inline-block;
    letter-spacing: 0.025em;
  }
  .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
  }
  .checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 120px; /* оставляем слева от label место под псевдочекбокс */
  }
  /* Оформление первой части чекбокса в выключенном состоянии (фон). */
  .checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0;
    top: 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 25px;
    box-shadow: inset 0px 3px 1px 0px rgba(10, 1, 56, 0.3);
  }
  .checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 51px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../img/icons/icon_warm.png') center no-repeat, linear-gradient( 0deg, rgb(246,139,31) 0%, rgb(252,191,0) 100%);
    background-size: 25px, 100%;
    transition: all .2s;
  }
  .checkbox:checked + label:after {
    left: 0px;
    background: url('../img/icons/icon_cold.png') center no-repeat, linear-gradient( rgb(16,205,233) 0%, rgb(11,126,180) 100%);
    background-size: 25px, 100%;
  } 
}

.slider_attr{
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  font-size: 0;
  margin: 60px -20px 10px;
  padding: 10px 0 10px 70px;
  .item{
    margin: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
  }
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slick-prev {
    height: 50px;
    width: 60px;
    z-index: 1;
    left: -10px;
    background-color: rgb(246,139,31);
    box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: background-color .3s ease-in-out;
    }
    .slick-next {
      height: 50px;
      width: 60px;
      z-index: 1;
      right: -10px;
      background-color: rgb(246,139,31);
      box-shadow: 0px 1px 3px 0px rgba(107, 0, 240, 0.3),inset 0px 3px 1px 0px rgba(255, 255, 255, 0.3);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      transition: background-color .3s ease-in-out;
    }
    .slick-prev:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 22px;
      background: url(../img/svg/left.svg) center no-repeat;
      opacity: 1;
    }
    .slick-next:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 22px;
      background: url(../img/svg/right.svg) center no-repeat;
      opacity: 1;
    }
    .slick-next:after, 
    .slick-prev:after {
      position: absolute;
      border-top: 5px solid #945817;
      border-bottom: 5px solid transparent;
      bottom: -10px;
      display: inline-block;
      content: '';
    }
    .slick-prev:after {
      content: '';
      border-right: 5px solid #945817;
      border-left: 5px solid transparent;
      left: 0;
    }
    .slick-next:after {
      border-right: 5px solid transparent;
      border-left: 5px solid #945817;
      right: 0;
    }
}


.lamp_slider__top{
  height: 200px;
  position: relative;
  overflow: hidden;
}


/* hardware accelatator class */	
//	.trans3d
//	{
//		transform-style:preserve-3d;
//		transform: translate3d(0, 0, 0);
//	}
//	
//	#contentContainer
//	{
//		position:absolute;
//		left:0;
//		top:0;
//		width:100%;
//		height:100%;
//	}
//	
//	.carouselItem
//	{
//		width:auto;
//		height:152px;
//		position:absolute;
//		left:50%;
//		top:50%;
//		margin-left:0;
//		margin-top:0;
//		visibility:hidden;
//	}
//	
//	.carouselItemInner
//	{
//		width:auto;
//		height:130px;
//		text-align:center;	
//	}